@import url(/node_modules/normalize.css/normalize.css);



:root {
    --cards: #45A29E;
    --header: #116466;
    --card-background: #1F2833;
    --topic-trending: #C5C6C7;
}

body {
    background-color: var(--card-background);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: black;
    font-weight: bold;
}

.sidebar-title>span {
    color: white;
    padding-left: 5px;
}

#grid-wrapper {
    grid-template-columns: 200px 70vw;
    display: grid;
    grid-template-rows: 1fr 80px 60px;
    grid-template-areas:
    "sidebar-title top-header top-header"
    "sidebar header header"
    "sidebar Ltopics Rtopics"
    "sidebar discussions trending"
    "bottomsidebar discussions users"
    "bottomsidebar discussions users"
    ;
}

#searchbar {
    box-shadow: inset 10px 10px 50px -25px black;
    width: 50vw;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-left: 30px;
}

#searchbar:focus {
    outline: none;
    padding-left: 10px;
}

.sidebar-title {
    grid-area: sidebar-title;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header > input {
    justify-content: center;
    align-self: center;

}

#username-box>ul>ll>button {
    background-color: var(--cards);
    width: 70px;
    border-radius: 50%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

.top-header > ul{
    background-color: var(--header);
    display: flex;
    justify-content: end;
    flex: 1;
    list-style-type: none;
    padding-right: 40px;
}

.top-header > ul > li {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.top-header > ul >li:nth-child(1) {
    padding-right: 40px;
}

.top-header > ul > li > svg {
    padding-top: 5px;;
}

.top-header  {
    grid-area: top-header;
    background-color: var(--header);
    display: flex;
}

.top-header > ul > li > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header {
    grid-area: header;
}


.sidebar {
    background-color: var(--header);
    grid-area: sidebar;
}

.bottom-half {
    grid-area: bottomsidebar;
    background-color: var(--header);
}

.rTopics {
    background-color: var(--topic-trending);
    grid-area: Rtopics;
}

.topics {
    background-color: var(--topic-trending);
    grid-area: Ltopics;
    margin-left: 10px;
}

.rTopics > ul {
    display: grid;
    align-content: end;
    list-style-type: none;
    height: 100%;
}

.rTopics > ul > li {
    justify-self: start;
    height: 100%;
    padding-bottom: 10px;
}

.topics > ul  {
    display: grid;
    align-content: end;
    list-style-type: none;
    height: 100%;
}

.topics > ul > li {
    justify-self: start;
    height: 100%;
    padding-bottom: 10px;
}

.discussions  {
    grid-area: discussions;
    background-color: var(--card-background);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    row-gap: 10px;
}

.discussions > div {
    justify-content: center;
}

.card {
    background-color: var(--cards);
    height: 400px;
    margin-left: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}


.card >div:nth-child(3) {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: end;
    padding-bottom: 2px;
}

.card>div:nth-child(3)>svg{
    width: 30px;
    height: 20px;
    padding-left: 15px;
}

#searchbar::placeholder{
    padding-left: 20px;
}

.trending {
    grid-area: trending;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trending>.subject{
    display: flex;
    flex-direction: column;
}

.subject>div:first-child {
    padding-top: 5px;
    padding-bottom: 10px;
}

.subject {
    border-left: solid black;
    border-right: solid black;
    background-color: var(--cards);
    width: 300px;
    display: grid;
}



.subject >div:nth-child(1) {
    padding-left: 20px;
}

.subject > div:nth-child(2) {
    height: fit-content;
    margin-left: 20px;
    border-bottom: dashed gray;
    margin-right: 20px;
}

#last-seen {
    border-style: none;
}

.users {
    background-color:var(--card-background);
    grid-area: users;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.users>.subject {
    display: flex;
    flex-direction: column;
}


#username-box {
    background-color: var(--header);
    display: flex;
    height: 80px;
}

.profile-image {
    padding-left: 40px;
}

.profile-image > img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    object-fit: cover;
}

.userbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding-left: 30px;
    height: 100%;
}

.username {
    padding-left: 40px;
}

#username-box > ul {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    gap: 30px;
    padding-right: 90px;
}



.sidebar > ul > li > svg {
    margin-right: 20px;
}



.sidebar > ul {
    padding-top: 30px;
    display: grid;
    justify-content: start;
    gap: 45px;
    list-style-type: none;
}

.sidebar > ul > li  {
    height: 30px;
    align-items: center;
    display: flex;
    flex: 1;
}


.bottom-half > ul {
    gap: 45px;
    padding-top: 50px;
    list-style-type: none;
    display: grid;
    justify-content: start;
    margin: 0;
    height: 40%;
}

.bottom-half > ul > li {
    align-items: center;
    display: flex;
    flex: 1;
}

.bottom-half > ul > li > svg {
    margin-right: 20px;
    height: 20px;
    width: 20px;
}