@import url(/node_modules/normalize.css/normalize.css);

* {
    color: black;
    font-weight: bold;
}

#grid-wrapper {
    gap: 5px;
    grid-template-columns: 200px 60%;
    display: grid;
    grid-template-rows: 1fr 80px 60px;
    grid-template-areas:
    "sidebar-title top-header top-header"
    "sidebar header header"
    "sidebar topics topics"
    "sidebar discussions trending"
    "bottomsidebar discussions users"
    "bottomsidebar discussions users"
    ;
}

#searchbar {
    width: 50vw;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-left: 30px;
}

.sidebar-title {
    grid-area: sidebar-title;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header > input {
    justify-content: center;
    align-self: center;

}

.top-header > ul{
    background-color: orange;
    display: flex;
    justify-content: end;
    flex: 1;
    list-style-type: none;
    gap: 30px;
    padding-right: 70px;
}

.top-header > ul > li {
    flex-shrink: 0;
}

.top-header  {
    grid-area: top-header;
    background-color: orange;
    display: flex;
}

.header {
    grid-area: header;
}


.sidebar {
    background-color: yellow;
    grid-area: sidebar;
}

.bottom-half {
    grid-area: bottomsidebar;
    background-color: bisque;
}

.topics {
    background-color: blue;
    grid-area: topics;
}

.topics > ul  {
    grid-template-columns: 2fr 1fr;
    display: grid;
    text-align: center;
    list-style-type: none;
}

.discussions  {
    grid-area: discussions;
    background-color: green;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    gap: 20px;

}

.discussions > div {
    justify-content: center;
}

.card {
    background-color: rgb(0, 255, 242);
    height: 350px;
    width: 100%;
}

#searchbar::placeholder{
    padding-left: 20px;
}

.trending {
    grid-area: trending;
    background-color: purple;
}

.users {
    background-color: red;
    grid-area: users;
}

#username-box {
    background-color: pink;
    display: flex;
    height: 80px;
}

.profile-image {
    padding-left: 40px;
}

.profile-image > img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.userbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding-left: 30px;
    height: 100%;
}

.username {
    padding-left: 40px;
}

#username-box > ul {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    gap: 30px;
    padding-right: 90px;
}


.sidebar > ul > li > svg {
    padding-right: 20px;
}



.sidebar > ul {
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin: 0;
}

.sidebar > ul > li {
    align-content: end;
}